@import "./../../../../assets/styles/variables.scss";
.tng-select-team {
  padding-top: 40px;
  text-align: center;
  min-height: calc(100vh - 60px);
  padding-bottom: 20px;
  @media (max-height: 768px) {
    padding-top: 80px;
    min-height: calc(100% - 100px);
  }
  &.loading {
    position: relative;
    &::before {
      content: "Loading...";
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: url(../../../../assets/images/background-sm.png);
      background-size: cover;
    }
  }
  .tng-select-team-q {
    width: 67vw;
    background-size: cover;
    display: inline-flex;
    align-items: center;
    transform-origin: center center;
    position: relative;
    margin-bottom: 6.83vh;
    overflow: hidden;
    z-index: 2;
    @media (max-width: 767px) {
      width: 86vw;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: 135px;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 60px;
      line-height: 70px;
      color: $white-color;
      width: 100%;
      text-align: center;
      @media (max-width: 1439px) {
        font-size: 40px;
        line-height: 1.1;
      }
      @media (max-width: 991px) {
        font-size: 30px;
      }
      @media (max-width: 767px) {
        font-size: 24px;
      }
      @media (max-width: 576px) {
        font-size: 22px;
      }
    }
  }
  .tng-team-card {
    border-radius: 24px;
    background-size: cover;
    background-position: center center;
    transform-origin: center center;
    transition: all ease-in-out 0.3s;
    position: relative;
    border: 9px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 59px;
      text-align: center;
      color: $text-color;
      position: absolute;
      bottom: 0;
      white-space: nowrap;
      transform-origin: bottom center;
      width: 100%;
      text-align: center;
    }
    img {
      width: calc(100% - 4px);
      border-radius: 15px;
      cursor: pointer;
      border: 1px $white-color solid;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 30px;
  border-radius: 0;
  height: 5px;
  background: white;
  top: 10px !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -10px !important;
}
.swiper-slide {
  max-width: 350px;
  .tng-team-card {
    margin-top: 20px;
    margin-bottom: 20px;
    filter: grayscale(0.4);
    @media (max-width: 767px) {
      margin: 20px;
    }
  }
}
.swiper-slide-active {
  .tng-team-card {
    filter: grayscale(0);
    &.tng-team-card-1 {
      border-color: #33ea15 !important;
      box-shadow: 1px 2px 30px #31ea15a2;
      img {
        border-color: #33ea15;
      }
    }
    &.tng-team-card-2 {
      border-color: #54e7ef !important;
      box-shadow: 1px 2px 30px #54e7efa1;
      img {
        border-color: #54e7ef;
      }
    }
    &.tng-team-card-3 {
      border-color: #ee4037 !important;
      box-shadow: 1px 2px 30px #ee4037af;
      img {
        border-color: #ee4037;
      }
    }
    &.tng-team-card-4 {
      border-color: #cb1a72 !important;
      box-shadow: 1px 2px 30px #cb1a72a4;
      img {
        border-color: #cb1a72;
      }
    }
    &.tng-team-card-5 {
      border-color: #faae1b !important;
      box-shadow: 1px 2px 30px #fab01bbd;
      img {
        border-color: #faae1b;
      }
    }
    &.tng-team-card-6 {
      border-color: #2d9ed8 !important;
      box-shadow: 1px 2px 30px #2d9fd896;
      img {
        border-color: #2d9ed8;
      }
    }
  }
}
@media (max-width: 767px) {
  .swiper-wrap {
    padding: 0 20px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background-color: rgba($color: #fff, $alpha: 0.4);
  backdrop-filter: blur(5px);
  z-index: 999;
  padding: 0px 8px;
  border-radius: 10px;
  &.swiper-button-disabled{
    display: none;
  }
  @media (min-width: 768px) {
    display: none;
  }
  &::after {
    font-size: 22px;
  }
}
.swiper-button-prev {
  left: 0;
  transform-origin: center left;
}
.swiper-button-next {
  right: 0;
  transform-origin: center right;
}
