@import "./../../../../assets/styles/variables.scss";
.tng-bet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
  .tng-bet-close {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: 0;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .tng-bet-inner {
    transform-origin: center center;
    h3 {
      font-weight: 700;
      font-size: 60px;
      line-height: 70px;
      text-align: center;
      color: $white-color;
      margin-bottom: 103px;
    }
    .tng-bet-options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 160px;
    }
  }
  @media (max-width: 767px) {
    .tng-btn-bet {
      padding: 25px 60px;
    }
  }
}
