@import "./../../assets/styles/variables.scss";

.tng-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: $primary-color;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 200px;
  padding: 20px 86px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: $secondary-color;
  transition: all ease-in-out 0.3s;
  border: 0;
  outline: 0;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  font-family: "Maven Pro", sans-serif;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 1;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &.outline {
    border-color: $primary-color;
    background-color: $secondary-color;
    color: $primary-color;
    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
      opacity: 1;
    }
  }
  &.rectangle {
    border-radius: 20px;
    padding: 28px 89px;
    font-size: 50px;
    line-height: 59px;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
  }
  &.active {
    background-color: $primary-color !important;
    color: $secondary-color !important;
  }
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    border-color: $primary-color;
  }
  &.mg-left {
    margin-left: 15px;
    @media (max-width: 767px) {
      margin-top: 15px;
    }
  }
  &.width-100 {
    width: 200px;
  }
}
