@import "./../../../../assets/styles/variables.scss";
.tng-complete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: bottom center;
    background-image: url(../../../../assets/images/failed-bg.png);
  }
  &.success {
    .tng-complete-inner {
      width: 717px;
      height: 731px;
      background-image: url(../../../../assets/images/rs-bg-3.png) !important;
      .tng-complete-body {
        padding-top: 465px;
        ul {
          li {
            background: linear-gradient(180deg, #fdc402 0%, #fda400 100%);
            color: #001959;
          }
        }
      }
    }
  }
  &.failed,
  &.canretry {
    .tng-complete-inner {
      background-image: url(../../../../assets/images/rs-bg-1.png);
    }
  }
  &.canretry {
    .tng-complete-inner {
      background-image: url(../../../../assets/images/rs-bg-2.png);
    }
  }
  .tng-complete-wrap {
    padding: 56px 0 80px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 136px);
    @media (max-width: 767px) and (min-height: 400px) {
      overflow-y: hidden;
    }
  }
  .tng-complete-inner {
    width: 599px;
    height: 697px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    position: relative;
    @media (max-width: 767px) {
      left: 50%;
      transform: scale(0.6) translateX(-50%);
      transform-origin: top left;
      &.success {
        transform: scale(0.56) translateX(-50%);
      }
    }
    @media (max-width: 380px) {
      transform: scale(0.56) translateX(-50%);
    }
    .tng-complete-body {
      padding-top: 325px;
      h2 {
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 31px;
        font-family: "Maven Pro";
      }
      ul {
        font-family: "Maven Pro";
        list-style: none;
        padding-left: 0;
        margin: 0;
        width: 381px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        li {
          font-family: "Maven Pro";
          background: linear-gradient(180deg, #a72e8a 0%, #420a67 100%);
          border: 1px solid rgba($color: #fff, $alpha: 0.4);
          border-radius: 16px;
          text-transform: uppercase;
          padding: 1px 10px;
          font-weight: bold;
          font-size: 16px;
          white-space: nowrap;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
    .action-1{
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-size: 30px;
      line-height: 60px;
      height: 60px;
      text-align: center;
      text-transform: uppercase;
      color: #001959;
      width: 100%;
      span {
        white-space: nowrap;
        &.clickable {
          cursor: pointer;
          transition: all ease-in-out 0.3s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .action {
      position: absolute;
      bottom: 18px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      color: #001959;
      width: 100%;
      span {
        white-space: nowrap;
        &.clickable {
          cursor: pointer;
          transition: all ease-in-out 0.3s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
