@import "./../../assets/styles/variables.scss";
.tng-main {
  background-image: url(../../assets/images/background-game.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // @media (min-height: 789px) {
  //   overflow: hidden;
  // }
}
